:root {
  --color-foreground: #f1f1f1;
  --color-foreground-alt: #eeeeee;

  --color-background: #101010;
  --color-background-alt: #202020;

  --color-accent: #68FF80;

  --size-sm: .75rem;
  --size-md: 1rem;
  --size-lg: 1.5rem;
  --size-xl: 2rem;
}