:root {
  --color-foreground: #f1f1f1;
  --color-foreground-alt: #eeeeee;

  --color-background: #101010;
  --color-background-alt: #151515;
  --color-background-light: #202020;

  --color-accent: #68FF80;

  --color-none: none;
  --size-sm: .75rem;
  --size-md: 1rem;
  --size-lg: 1.5rem;
  --size-xl: 2rem;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-foreground: #101010;
    --color-foreground-alt: #202020;
  
    --color-background: #ffffff;
    --color-background-alt: #f1f1f1;
    --color-background-light: #cccccc;
  }
}